@media only screen and (min-width: 993px) {
	.container {
	    width: 85% !important;
	}
}
body {direction: rtl;}
strong {font-weight: 700;}
.row .col {float: right;}

main.main {padding: 4em 0px;}
.slide_no {font-size: 25px;}
.current_slide {font-size: 65px;}
q:before {content: '';}
.quote-body {font-size: 38px;}
.quote-author h1 {font-size: 12px;margin: 0;}
.social_share i {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.social_share span {
	display: inline-block;
	border:1px solid black;
	padding: 4px;
	width: 30px;
	height: 30px;
	margin: 5px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
